*{
    margin: 0;
    padding: 0;
}

body{
    background-color: cornflowerblue;
}


.frame{
    border-radius: 20px;
    background-color: turquoise;
    width: 500px;
    height: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}



#year, #month, #day{
    width: 150px;
    text-align: center;
    overflow: scroll;
    position: absolute;
    margin-top: 10px;
    height: 30px;
    border: none;
    outline: none;
    border-radius: 5px;
}

#month{
    left: 50%;
    transform: translate(-50%);
}

#year{
    right: 10%;
    transform: translate(20%);
}

#day{
    left: 10%;
    transform: translate(-20%);
}

table{
    position: absolute;
    left: 5%;
    top: 20%;
}

th, tr, td{
    padding-left: 29px;
    text-align: center;
}
td{
    padding-top: 20px;
}

select{
    appearance: none;
}

select:hover{
    background-color: rgb(233, 224, 224);
}

button{
    border: 1px solid whitesmoke;
}

button:hover{
    border: 3px solid whitesmoke;
    background-color: yellow;
}

